.dashboard{
    width : 100vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12,1fr);
    column-gap: 5px;
    background-color: var(--background-color);

}
.dashboardLeft{
    grid-column: 1/6;
    grid-row: 1/13;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.dashboardMiddle{
    grid-column: 6/17;
    grid-row: 1/13;
    border-left: 1px solid var(--dark-border-color);
    border-right: 1px solid var(--dark-border-color);
    padding-left: 1em;
    
}
.dashboardRight{
    grid-row: 1/13;
    grid-column:17/25 ;
}

.logo{
    margin: 10px;
}
